/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

html {
	font-family: 'Merriweather Sans', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: content-box;
}

/* Basic tag styling */
b {
	font-weight: 800;
}
input {
	display: inline-block;
	border-width: 2px;
	border-style: inset;
	font: 400 14px Arial;
	text-align: center;
}
select {
	font-size: 14px;
	height: 20px;
}
h1 {
	font-size: 40px;
	margin: 24px 0px;
	font-weight: 600;
	text-align: center;
}
h2 {
	font-size: 32px;
	margin: 18px 0px;
	font-weight: 600;
}
h3 {
	font-size: 24px;
	margin: 16px 0px;
	font-weight: 600;
}
h4 {
	font-size: 22px;
	margin: 16px 0px;
	font-weight: 600;
	line-height: 24px;
}
h5 {
	font-size: 20px;
	margin: 16px 0px;
	font-weight: 500;
}
h6 {
	font-size: 18px;
	margin: 16px 0px;
	font-weight: 600;
}
p {
    margin: 10px 0px;
	padding: 0;
	border: 0;
	font-weight: 500;
	font-size:20px;
	vertical-align: baseline;
	text-align: left;
	line-height: 24px;
}

/* General Classes */


.inlineBlock {
	display: inline-block;
}
#rent_buy_wrapper_subb {
	width: 1200px;
	margin: 0 auto;
}
#rent_buy_main_head {
	width: 800px;
	margin: 0 auto;
}
#rent_buy_main_head p {
	margin: 20px 0px;
	line-height: 24px;  
}
#rent_buy_button_1_option_input_main,#rent_buy_button_2_option_input_main {
	display: none;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}
#rent_buy_two_buttons_main {
   width: 800px;
   margin: 0 auto; 
}
.head2Buttons {
	width: 380px;
}
#rent_buy_start_here_1 {
	margin-right: 30px;
}
.twoButtons {
	width: 380px;
	border: 1px solid #bfc0c1;
	border-radius:5px;
	text-align: center; 
}
.twoButtons p {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #595959;
}
#rent_buy_button_1 {
	margin-right: 30px;
}
.rotateClass {
	width: 15px;
	height: 15px;
	border-bottom: 1px solid  #595959;
	border-right: 1px solid  #595959;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 10px;
	transform: rotate(45deg);
}
.twoButtons:hover {
	cursor: pointer; 
}
.mainDivClass {
	margin-top: 60px;
}
.leftMain {
	width: 750px;
}
.orange1Class {
	color: #ed8631;
}
.mainOrangeH1 {
	margin: 30px 0px 30px 0px;
}
.allSliders {
	-webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 740px; /* Full-width */
    height: 10px; /* Specified height */
    background: #e5e5e5; /* Grey background */
    border: none;
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
    position: relative;
    display: block;
}
.allSliders::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #f98525; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    position: relative;
}
#rent_buy_button_2_option_right_inputs_main {
    vertical-align: top;
    margin-top: 40px;
}
.allRightDivs {
	width: 370px;
	border: 1px solid #a5a5a5;
	margin-left: 20px;
	text-align: center;
	vertical-align: top;
	margin-top: 40px;
}
.allOrangeButtonsRight {
	width: 330px;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	background-image: linear-gradient(to right, #ed8631, #f07e33, #f37535, #f56c39, #f7623d);
}
.allOrangeButtonsRightP {
    line-height: 50px;
    text-align: center;
}
.allOrangeButtonsRightP:hover {
    cursor: pointer;
}
#rent_buy_button_2_option_right_inputs_subb_2 {
	width: 280px;
	margin: 0 auto;
	text-align: center;
}
#rent_buy_button_2_option_right_inputs_subb_2 h5:hover {
	cursor: pointer;	
}
.mainRangePoints {
	height: 36px;
}
.allPPointSliderMargin {
	margin: 20px 0px 40px 0px;
}
.allGrayLineRangeSpots {
	width: 740px;
	height: 10px;
	margin: 13px 0px -1px 0px;
	background-color:#e5e5e5;
	z-index: 0.1;
}
.spotsClass {
	width: 27px;
	height: 27px;
	border: 3px solid #e5e5e5;
	border-radius: 50%;
	background-color: #fff;
	z-index: 1;
	margin-top: -20px;
}
.pointClass {
	margin-right: 81px;
}
.spotsClass:hover {
	background-color:#f98525;
	cursor: pointer;
	border-color: #f98525;
}
.activeSpots, .activeOwning, .activeFlexibility, .activeCommited {
	background-color: #f98525;
	border-color: #f98525;
}
#rent_buy_button_1_option_right_inputs_main_1_with_a_link_1, #rent_buy_button_1_option_right_inputs_main_1_with_a_link_2, #rent_buy_button_1_option_right_inputs_main_1_with_a_link_3 {
	display: none;
}
#rent_buy_main_wrapper .blockClass {
    display: inline-block;
}
#rent_buy_button_1_right_link_a_2 > h5:hover, #rent_buy_button_1_right_link_a_3 > h5:hover, #rent_buy_button_1_right_link_a_1 > h5:hover {
	cursor: pointer;
}
.allPointExplMain {
	width: 748px;
}
.allPointExplMain p {
	width: 200px;
	font-size: 16px;
	vertical-align: top;
	line-height: 19px;
	font-weight: 600;
}
.allLeftPPointClass {
	margin-right: 342px;
}
.allRightPPointClass {
	text-align: right;
}
#rent_buy_point_expl_4 .allRightPPointClass1 {
	width: 220px;
	text-align: right;
}
.allLeftPPointClass1 {
	width: 200px;
	margin-right: 322px;
}
#rent_buy_button_1_option_right_inputs_main_1 h3 {
    padding: 0px 10px;
}
#rent_buy_state_select select {
	border: 2px solid #000;
	padding: 0px 1px 3px 1px;
	font-size: 18px;
	font-family: 'Merriweather Sans', sans-serif; 
}
output { 
  position: absolute;
  min-width: 75px;
  width: auto; 
  height: 30px;
  line-height: 30px; 
  text-align: center;
  padding: 2px 3px; 
  color: #fff; 
  background-color:#f98525; 
  border-radius: 10px; 
  display: inline-block; 
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px; 
  bottom: 210%;
  left: 0;
  margin-left: -1%;
}
output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #f98525;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
#rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
	position: relative;
}
.allPLeftSliders {
    margin-bottom: 50px;
}
#rent_buy_button_2_option_right_inputs_subb_1 h4 {
	width: 340px;
	margin: 0 auto;
	margin-top:15px;
	line-height: 25px;
}
.allMainDivsLeftSliders {
	margin-top: 15px;
}

/*DEVELOOPMENT*/

/*#rent_buy_button_2_option_input_main {
	display: block;
}*/
.vertBaselineRight {
	vertical-align: top;
}
.widthH5Right {
	width: 280px;
    margin: 0 auto;
    text-align: center;
}	

#rent_buy_main_wrapper #rent_buy_two_buttons_main #rent_buy_main_2 .activeClass {
	background-color: #99accc;
	color: #fff;
}
#rent_buy_main_wrapper #rent_buy_two_buttons_main #rent_buy_main_2 .activeClass p {
	color: #fff;
}
.activeClass .rotateClass {
	border-color: white;
}
#h4_rent_vs_buy_left_0ption_2 {
	margin-bottom: 	30px;
}

/*   ALL @Media RULES   */

@media (max-width: 1400px) {
	.leftMain {
    width: 690px;
    }
    .allGrayLineRangeSpots {
    width: 680px;
    }
    .allPointExplMain {
    width: 688px;
    }
    .pointClass {
    margin-right: 71px;
    }
    .allLeftPPointClass {
    margin-right: 282px;
    }
    .allLeftPPointClass1 {
    margin-right: 262px;
    }
    .allSliders {
    width: 690px;
    }
}
@media (max-width: 1270px) {
    #rent_buy_main_wrapper .blockClass {
        display: block;
    }
	.leftMain {
    width: 750px;
    }
    .allPointExplMain {
    width: 748px;
    }
    .allGrayLineRangeSpots {
    width: 740px;
    }
    .pointClass {
    margin-right: 81px;
    }
    .allLeftPPointClass {
    margin-right: 342px;
    }
    .allLeftPPointClass1 {
    margin-right: 322px;
    }
    #rent_buy_main_wrapper #rent_buy_button_1_option_left_inputs {
    display: block;	
    margin:0 auto;
    }
    #rent_buy_main_wrapper #rent_buy_button_1_option_right_inputs_main_1_with_a_link_1 {
    margin: 0 auto; 		
    }
    .allRightDivs {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    }
    #rent_buy_wrapper_subb {
    width: 900px;
    margin: 0 auto;
    }
    #rent_buy_button_2_option_right_inputs_main {
    	display: block;
    	margin: 0 auto;
    	width: 545px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 740px;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 740px;
    	margin: 0 auto;
    	display: block;
    }
    .allSliders {
    width: 750px;
    }
}
@media (max-width: 900px) {
	#rent_buy_main_head {
    width: 600px;
    }
    #rent_buy_main_head p {
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    }
    #rent_buy_two_buttons_main {
    width: 600px;
    }
    .head2Buttons {
    width: 280px;
    }
    .twoButtons {
    width: 280px;
    }
    .leftMain {
    width: 600px;
    }
    .allPointExplMain {
    width: 588px;
    }
    .allGrayLineRangeSpots {
    width: 590px;
    }
    .pointClass {
    margin-right: 56px;
    }
    .allLeftPPointClass {
    margin-right: 182px;
    }
    .allLeftPPointClass1 {
    margin-right: 162px;
    }
    #rent_buy_wrapper_subb {
    width: 700px;
    margin: 0 auto;
    }
    .allSliders {
    width: 600px;
    }
    #rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
    width: 600px;
    margin: 0 auto;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 610px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 600px;
    }
    #rent_buy_button_1_option_right_inputs_main_1_with_a_link_1,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_2 ,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_3 {
        width:400px;
    }
}
@media (max-width: 700px) {
	#rent_buy_main_head {
	    width: 500px;
    }
	#rent_buy_main_head h1 {
        font-size: 32px;
	}
	#rent_buy_main_head p {
        width: 500px;
    }
    #rent_buy_two_buttons_main {
        width: 500px;
    }
    #rent_buy_main_wrapper #rent_buy_start_here_1  {
    	display: block;
    	text-align: center;
    	margin: 0 auto;
    }
    #rent_buy_main_wrapper #rent_buy_start_here_2  {
    	display: block;
    	text-align: center;
    	margin: 0 auto;
    }
    #rent_buy_main_2 {
    	width: 500px;
    	margin: 0 auto;
    }
    #rent_buy_button_1,#rent_buy_button_2 {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 15px;
    }
    .twoButtons {
	    width: 380px;
    }
    #rent_buy_wrapper_subb {
    width: 520px;
    margin: 0 auto;
    }
    .leftMain {
    width: 500px;
    }
    .allPointExplMain {
    width: 488px;
    }
    .allGrayLineRangeSpots {
    width: 490px;
    }
    .pointClass {
    margin-right: 39px;
    }
    .allLeftPPointClass {
    margin-right: 82px;
    }
    .allLeftPPointClass1 {
    margin-right: 62px;
    }
    #rent_buy_button_1_option_left_inputs h2 {
    font-size:26px;
    }
    #rent_buy_button_1_option_left_inputs h4 {
    font-size:20px;
    }
    #rent_buy_button_2_option_left_inputs h2 {
    	font-size: 26px;
    }
    #rent_buy_button_2_option_left_inputs h4 {
    font-size:20px;
    }

    .allSliders {
    width: 500px;
    }
    #rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
    width: 500px;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 510px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 500px;
    }
}
@media (max-width: 600px) {
	#rent_buy_main_head {
	    width: 400px;
    }
	#rent_buy_main_head h1 {
        font-size: 28px;
	}
	#rent_buy_main_head p {
        width: 400px;
    }
    #rent_buy_two_buttons_main {
        width: 400px;
    }
    #rent_buy_main_2 {
    	width: 400px;
    }
    #rent_buy_wrapper_subb {
    width: 420px;
    margin: 0 auto;
    }
    .leftMain {
    width: 400px;
    }
    .allPointExplMain {
    width: 388px;
    }
    .allGrayLineRangeSpots {
    width: 390px;
    }
    .pointClass {
    margin-right: 22px;
    }
    .allLeftPPointClass {
    margin-right: 80px;
    }
    .allLeftPPointClass1 {
    margin-right: 10px;
    }
    .allPointExplMain p {
    width: 150px;
    }
    .allSliders {
    width: 400px;
    }
    #rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
    width: 400px;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 410px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 400px;
    }
    #rent_buy_button_2_option_right_inputs_main {
    width: 400px;
    }
    .allRightDivs {
    width: 400px;
    margin-left: 0px;
    }
    #rent_buy_button_1_option_right_inputs_main_2,#rent_buy_button_1_option_right_inputs_main_1,#rent_buy_button_1_option_right_inputs_main_3 {
        margin-right: 0px;
    }
    #rent_buy_button_1_option_right_inputs_main_1 h3,#rent_buy_button_1_option_right_inputs_main_2 h3,#rent_buy_button_1_option_right_inputs_main_3 h3 {
        font-size: 20px;
    }
    .widthH5Right {
    width: 240px;
    margin: 0 auto;
    }
}
@media (max-width: 460px) {
	#rent_buy_main_head {
	    width: 300px;
    }
	#rent_buy_main_head h1 {
        font-size: 24px;
	}
	#rent_buy_main_head p {
        width: 300px;
        font-size: 18px;
    }
    #rent_buy_two_buttons_main {
        width: 300px;
    }
    #rent_buy_main_2 {
    	width: 300px;
    }
    #rent_buy_start_here_1 h2 {
    	font-size:22px; 
    }
    #rent_buy_wrapper_subb {
    width: 320px;
    margin: 0 auto;
    }
    .leftMain {
    width: 300px;
    }
    .twoButtons {
	    width: 280px;
    }
    .allPointExplMain {
    width: 288px;
    }
    .allGrayLineRangeSpots {
    width: 290px;
    }
    .pointClass {
    margin-right: 16px;
    }
    .allLeftPPointClass {
    margin-right: 60px;
    }
    #rent_buy_point_expl_4 .allRightPPointClass1 {
    width: 110px;
    }
    .allLeftPPointClass1 {
    margin-right: 60px;
    }
    .allPointExplMain p {
    width: 110px;
    font-size: 14px;
    }
    .allGrayLineRangeSpots {
    width: 290px;
    height: 5px;
    margin: 13px 0px -4px 0px;
    }
    .spotsClass {
    width: 18px;
    height: 18px;
    margin-top: -20px;
    }
    #rent_buy_button_1_option_left_inputs .allPPointSliderMargin {
    	font-size: 16px;
    }

    .allSliders {
    width: 300px;
    }
    #rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
    width: 300px;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 300px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 300px;
        font-size: 16px;
    }
    #rent_buy_button_2_option_right_inputs_main {
    width: 300px;
    }
    .allRightDivs {
    width: 300px;
    }
    #rent_buy_button_2_option_right_inputs_subb_1 h4 {
    	width: 280px;
    	font-size: 20px;
    	margin: 0 auto;
    	margin-top: 16px;
    	margin-bottom: 16px;
    }
    #rent_buy_button_2_option_right_inputs_subb_1 h6 {
    	width: 280px;
    	font-size: 18px;
    	margin: 0 auto;
    	margin-top: 16px;
    	margin-bottom: 16px;
    }
    .allOrangeButtonsRight {
    width: 280px;
    }
    #rent_buy_button_1_option_right_inputs_main_1_with_a_link_1,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_2 ,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_3 {
        width:280px;
    }
}
@media (max-width: 340px) {
	#rent_buy_main_head {
	    width: 240px;
    }
	#rent_buy_main_head p {
        width: 240px;
    }
    #rent_buy_two_buttons_main {
        width: 240px;
    }
    #rent_buy_main_2 {
    	width: 240px;
    }
    #rent_buy_wrapper_subb {
    width: 260px;
    }
    .leftMain {
    width: 240px;
    }
    .twoButtons {
	    width: 240px;
    }
    .allPointExplMain {
    width: 228px;
    }
    .allGrayLineRangeSpots {
    width: 230px;
    }
    .pointClass {
    margin-right: 6px;
    }
    .allLeftPPointClass {
    margin-right: 20px;
    }
    #rent_buy_point_expl_4 .allRightPPointClass1 {
    width: 100px;
    }
    .allLeftPPointClass1 {
    margin-right: 22px;
    }
    .allPointExplMain p {
    width: 100px;
    }
    .allGrayLineRangeSpots {
    width: 230px;
    }
    #rent_buy_main_wrapper #rent_buy_start_here_1 {
    width: 240px;
    }
    #rent_buy_main_wrapper #rent_buy_start_here_2 {
    width: 240px;
    }

    .allSliders {
    width: 240px;
    }
    #rent_buy_input_output_1, #rent_buy_input_output_2, #rent_buy_input_output_3, #rent_buy_input_output_4 {
    width: 240px;
    }
    #rent_buy_button_2_option_left_inputs {
    	width: 240px;
    }
    #rent_buy_button_2_option_left_inputs p {
        width: 240px;
    }
    #rent_buy_button_2_option_right_inputs_main {
    width: 240px;
    }
    .allRightDivs {
    width: 220px;
    }
    #rent_buy_button_2_option_right_inputs_subb_1 h4 {
    	width: 220px;
    	font-size: 18px;
    }
    #rent_buy_button_2_option_right_inputs_subb_1 h6 {
    	width: 220px;
    	font-size: 16px;
    }
    .allOrangeButtonsRight {
    width: 210px;
    }
    #rent_buy_button_2_option_right_inputs_subb_2 {
    width: 220px;
    font-size: 18px;
    }
    #rent_buy_button_1_option_right_inputs_main_1_with_a_link_1,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_2 ,#rent_buy_button_1_option_right_inputs_main_1_with_a_link_3 {
        width:220px;
    }
    .widthH5Right {
    width: 220px;
    margin: 0 auto;
    }
    #rent_buy_button_2_option_right_inputs_subb_2 h5 {
    width: 210px;
    }
    #rent_buy_button_2_option_right_inputs_subb_1 {
        margin-right: 0px;
    }
}

